.stage-wrapper {
    width: 100%;
    height: auto;
    padding: 15px 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px #adadad;
    border-radius: 10px;
}

.stage-wrapper>p {
    margin-top: 10px;
    font-size: 18px;
}

.courses-wrapper {
    width: 100%;
}

.courses {
    width: 100%;
    display: flex;
    justify-content: start;
    column-gap: 15px;
    margin-top: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.courses>a {
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    background-color: #FF0032;
    color: #fff;
    border-radius: 10px;
}